@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-cairo: var(--font-cairo);
    --font-baloo: var(--font-baloo);
    --font-ibm-plex-sans-arabic: var(--font-ibm-plex-sans-arabic);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-brand: var(--brand);
    --color-brand-foreground: var(--brand-foreground);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
    @keyframes marquee-vertical {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(calc(-100% - var(--gap)));
        }
    }
    --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
    @keyframes orbit {
        0% {
            transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px))
                rotate(calc(var(--angle) * -1deg));
        }
        100% {
            transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px))
                rotate(calc((var(--angle) * -1deg) - 360deg));
        }
    }
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --brand: oklch(0.7206 0.1555 46.37);
    --brand-foreground: oklch(0.985 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        scroll-behavior: smooth;
    }

    .framer-1hdn25l {
        z-index: 2;
        flex-flow: row;
        flex: none;
        place-content: center;
        align-items: center;
        gap: 10px;
        padding: 0;
        display: flex;
        position: absolute;
        inset: 0;
        overflow: visible;
    }

    .framer-upm3bh {
        z-index: 1;
        background: radial-gradient(50% 50%, #e3940040 0%, #e3940000 100%);
        flex: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top: -196px;
        left: -134px;
        overflow: hidden;
    }
    .framer-1v27kjt {
        z-index: 1;
        background: radial-gradient(50% 50%, #0097fe40 0%, #e3940000 100%);
        flex: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top: -169px;
        left: 239px;
        overflow: hidden;
    }
    .framer-tc2tc4 {
        z-index: 1;
        background: radial-gradient(50% 50%, #00ad0940 0%, #e3940000 100%);
        flex: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top: -106px;
        left: 659px;
        overflow: hidden;
    }
    .framer-1durknj {
        z-index: 1;
        background: radial-gradient(50% 50%, #f347ff40 0%, #e3940000 100%);
        flex: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top: -75px;
        right: -142px;
        overflow: hidden;
    }
    .framer-q9md6a {
        z-index: 1;
        background: radial-gradient(50% 50%, #9966ff40 0%, #e3940000 100%);
        flex: none;
        width: 500px;
        height: 500px;
        position: absolute;
        bottom: -178px;
        right: -64px;
        overflow: hidden;
    }
    .framer-zgoxf9 {
        z-index: 1;
        background: radial-gradient(50% 50%, #ff474740 0%, #e3940000 100%);
        flex: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top: calc(47.4074% - 250px);
        left: -198px;
        overflow: hidden;
    }
    .framer-hoxdws {
        z-index: 1;
        background: radial-gradient(50% 50%, #4772ff40 0%, #e3940000 100%);
        flex: none;
        width: 500px;
        height: 500px;
        position: absolute;
        bottom: -155px;
        left: -96px;
        overflow: hidden;
    }
    .framer-gjtruq {
        will-change: var(--framer-will-change-override, transform);
        z-index: 3;
        background-color: #0000;
        border-radius: 1000px;
        flex-flow: row;
        flex: none;
        place-content: center;
        align-items: center;
        gap: 10px;
        width: 1000px;
        height: 1000px;
        padding: 50px;
        display: flex;
        position: absolute;
        top: -255px;
        left: calc(50% - 500px);
        overflow: hidden;
        box-shadow: inset 0 0 10px #00000008;
    }
    .framer-ewttbr {
        will-change: var(--framer-will-change-override, transform);
        z-index: 1;
        background-color: #00000003;
        border-radius: 1000px;
        flex-flow: row;
        flex: 1 0 0;
        place-content: center;
        align-items: center;
        gap: 10px;
        width: 1px;
        height: 100%;
        padding: 50px;
        display: flex;
        position: relative;
        overflow: hidden;
        box-shadow: inset 0 0 10px #0000000a;
    }
    .framer-1e2t9ku {
        will-change: var(--framer-will-change-override, transform);
        z-index: 1;
        background-color: #00000003;
        border-radius: 1000px;
        flex-flow: row;
        flex: 1 0 0;
        place-content: center;
        align-items: center;
        gap: 10px;
        width: 1px;
        height: 100%;
        padding: 50px;
        display: flex;
        position: relative;
        overflow: hidden;
        box-shadow: inset 0 0 10px #0000000d;
    }
    .swiper-wrapper {
        transition-timing-function: linear !important;
        align-items: stretch !important;
    }

    .framer-11wenrb {
        z-index: 1;
        flex-flow: row;
        flex: none;
        place-content: center;
        align-items: center;
        gap: 10px;
        width: 350px;
        height: 350px;
        padding: 50px;
        display: flex;
        position: absolute;
        top: calc(50% - 175px);
        left: calc(50% - 175px);
        overflow: hidden;
    }

    .framer-1v1ob1h {
        z-index: 4;
        flex-flow: row;
        flex: none;
        place-content: center;
        align-items: center;
        gap: 10px;
        width: min-content;
        height: min-content;
        padding: 0;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: visible;
    }
    .framer-143kh33 {
        z-index: 1;
        flex: none;
        width: 200px;
        height: 200px;
        position: absolute;
        top: -94px;
        left: -94px;
        overflow: hidden;
    }
    .framer-8jf8ke {
        z-index: 1;
        flex: none;
        width: 200px;
        height: 200px;
        position: absolute;
        top: -105px;
        right: -94px;
        overflow: hidden;
    }
    .framer-a9uzhz {
        z-index: 1;
        flex: none;
        width: 200px;
        position: absolute;
        top: -16px;
        bottom: -72px;
        right: -102px;
        overflow: hidden;
    }
    .framer-ppd9z0 {
        z-index: 1;
        flex: none;
        height: 200px;
        position: absolute;
        bottom: -100px;
        left: 0;
        right: -88px;
        overflow: hidden;
    }
    .framer-12hpzgp {
        z-index: 1;
        flex: none;
        position: absolute;
        inset: -16px -19px -72px -69px;
        overflow: hidden;
    }
    .framer-6li7ng {
        z-index: 1;
        flex: none;
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: -104px;
        left: -110px;
        overflow: hidden;
    }
    .framer-1n0mvn2 {
        z-index: 1;
        flex: none;
        width: 200px;
        position: absolute;
        top: -37px;
        bottom: -51px;
        left: -100px;
        overflow: hidden;
    }
    .framer-1v7kf7i {
        will-change: var(--framer-will-change-override, transform);
        z-index: 2;
        flex-flow: row;
        flex: none;
        place-content: center;
        align-items: center;
        gap: 0;
        width: min-content;
        height: min-content;
        padding: 6px;
        display: flex;
        position: relative;
        overflow: hidden;
    }
}
